<!DOCTYPE html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pendaftaran UI/UX</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	</head>
	<style>
		#darkened-bg {			
			background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(../../../../assets/images/bg-1.jpeg);
			-webkit-background-size: cover;
  			-moz-background-size:  cover;
			-o-background-size: cover;
			background-size: cover;
        }
		.jumbotron {
			background: rgba(204, 204, 204, 0.5);
		}
	</style>
	<body id="darkened-bg">
		<img src="" class="img-fluid rounded mx-auto d-block my-3" alt="gambar lomba">
		<div class="jumbotron jumbotron-fluid mx-5">
			<div class="container">
			  <h1 class="display-4 text-center">Judul Lomba</h1>
			  <div class="bg-light p-5 rounded-lg m-3">
				<hr>
			  </div>
			</div>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</html>
